= semantic_form_for([:dashboard, @company, @company_location]) do |f|
  = f.inputs do
    = f.input :location
    = f.input :name
    = f.input :phone
    = f.input :street1
    = f.input :street2
    = f.input :city
    = f.input :state
    = f.input :postal_code
  = f.actions do
    = f.action :submit