/ <p id="notice"><%= notice %></p>
#my_birthday_deals
  .container.white-box
    %ul{style: 'float: right;'}
      %li= link_to 'Birthday Club!', birthday_deals_path
      %li= link_to 'Edit My Account', edit_user_registration_path(current_user)
      %li= link_to 'My Info', user_path(current_user) 
    %h2
      My Info
    %table
      %tr
        %td= user_full_name
        %td= current_user.birthdate ? current_user.birthdate : 'N/A'
        %td= current_user.email
    %br
    %p
      = link_to 'Edit', edit_user_registration_path(current_user) 
      |
      = link_to 'Back', user_path
