#my_birthday_deals   
  .container.white-box
    %ul{style: 'float: right;'}
      %li= link_to 'Close', birthday_deals_path
    %h2 My Gifts
    - if @birthday_vouchers.empty?
      You don't have any birthday vouchers. It's either not your birthday, or you haven't kept any!
    -else   
      %table
        %thead
          %tr
            %th 
            %th Birthday Deal
            %th Status
            %th Expires On
            %th
        %tbody
          
          - @birthday_vouchers.each do |deal|
            %tr 
              %td= image_tag deal.company.image_url(:deal_image) if deal.company.image?
              %td #{deal.hook} at #{deal.company.name}
              %td= deal.state
              %td= deal.good_through.to_s
              %td= link_to 'Print Voucher', print_birthday_deal_voucher_path(deal)