= simple_form_for([:dashboard, @user]) do |f|
  = devise_error_messages!

  = f.input :first_name, label: false, required: false, placeholder: @user.first_name
  = f.input :last_name, label: false, required: false, placeholder: @user.last_name
  = f.input :email, label: false, required: false, placeholder: @user.email
  = current_user.birthdate
  / = f.input :password, :label => false, :required => false, placeholder: 'Password:'
  / = f.input :password_confirmation, :label => false, :required => false, placeholder: 'Confirm Password:'
  = f.submit 
