= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'user-form'}) do |f|
  =# devise_error_messages! if resource
  = f.inputs name: 'Sign in with your account:' do
    = f.input :email, :label => false, :required => false, :input_html => { :autofocus => true}, placeholder: 'E-Mail:'
    = f.input :password, label: false, required: true, placeholder: 'Password:', hint: link_to('Forgot your password?', new_user_password_path)
  = f.actions do
    = f.action :submit, :as => :button, :label => 'Sign In',  :button_html => { :class => 'form-button orange', :value => 'Sign_In'}
